:root {
  --bg: gray;
  --maindark: #555454;
  --mainlight: #AFABAB;
  --text: #fff;

}

body {
  background-color: var(--bg);
  background-image: url("./images/Gundam\ PNG.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-attachment: fixed;
}

.contact-form {
  justify-content: center;
  flex-direction: column;
}

.header {
  text-align: right;
  border: #000000;
  border: 0px;
  padding: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: var(--maindark);
  color: var(--text);
  font-size: 15px;
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 999;

}

#main2 {
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  color: var(--text);
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.buttonclass {

  background-color: var(--mainlight);
  border: 0px;
  height: 20px;
  width: 90px;
  color: var(--text);
  cursor: pointer;
  border: 2px solid black;
}

.buttonclass:hover {
  background-color: #bfbfbf;

}

.buttonclass:active {
  font-size: 80%;
}

.buttonlink {

  height: 25px;
  width: 90px;

}

content {
  margin-top: 125px;
}

.card {
  padding: 15px 10px;
  border: 5px solid #bfbfbf;
  background-color: var(--mainlight);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--text);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}

.card :hover {
  background-color: darkred;
}

img {
  width: 200px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: var(--maindark);
  color: #fff;
  position: sticky;
  bottom: 0;
  z-index: 999;
}


@media screen and (max-width: 900px) {
  .header {
    background-color: violet;
  }
}

.contact1 {
  background-color: var(--mainlight);
  border: 0px;
  height: 20px;
  width: 90px;
  color: white;
  cursor: pointer;
  border: 2px solid black;

}


.form-popup {
  display: none;
  position: fixed;
  top: 20px;
  right: 25px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: var(--text);
}

textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=comments] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;

}


.form-container input[type=text]:focus {
background-color: #ddd;
outline: none;
}


.form-container .btn {
  background-color: darkorchid;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: darkred;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;

}

.list2 {

  width: 300px;
  color: #f1f1f1;
  border: 5px solid rgb(43, 42, 42);
}